@using Microsoft.AspNetCore.Identity
@using SimpleMusicStore.Models

@inject SignInManager<SimpleUser> SignInManager
@inject UserManager<SimpleUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    
        <ul class="nav navbar-nav navbar-right">
            @if (User.IsInRole("Admin"))
            {
                <li><a asp-area="Admin" asp-controller="Record" asp-action="Add">Add Record</a></li>
            }
            <li>
                <a id="drop4" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    My Profile
                    <span class="caret"></span>
                </a>
                <ul id="menu1" class="dropdown-menu" aria-labelledby="drop4">

                    <li><a asp-area="" asp-controller="Profile" asp-action="Wantlist">Wantlist</a></li>
                    <li><a asp-area="" asp-controller="Profile" asp-action="FollowedArtists">Followed Artists</a></li>
                    <li><a asp-area="" asp-controller="Profile" asp-action="FollowedLabels">Followed Labels</a></li>
                    <li><a asp-area="" asp-controller="Profile" asp-action="Addresses">Addresses</a></li>
                    <li><a asp-area="" asp-controller="Profile" asp-action="Orders">Orders</a></li>
                    <li><a asp-area="" asp-controller="Profile" asp-action="Comments">Comments</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a asp-area="" asp-controller="Profile" asp-action="Logout">Logout</a></li>
                </ul>
            </li>
        </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Profile" asp-action="Register">Register</a></li>
        <li><a asp-area="" asp-controller="Profile" asp-action="Login">Login</a></li>
    </ul>
}