@model List<SimpleMusicStore.Web.Models.Dtos.ArtistDto>
@{
    ViewData["Title"] = "Followed Artists";
}
<br />
<h2>Followed Artists</h2>
<br />
<div class="row">
    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr>
                    <col width="500" />
                    <col width="40" />
                    <th scope="col">Artist</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var artist in Model)
        {
                <tr>
                    <td>
                        <h4><a asp-controller="Artists" asp-action="Details" asp-route-artistId="@artist.Id">@artist.Name</a></h4>
                    </td>
                    <td>
                        <a asp-controller="Artists" asp-action="Unfollow" asp-route-artistId="@artist.Id"><button type="submit" class="btn btn-default">Unfollow</button> </a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
</div>