@model SimpleMusicStore.Web.Areas.Admin.Models.AddRecordBindingModel
@{
    ViewData["Title"] = "Add new record";
}
<br />
<div class="row">
    <div class="col-md-4">
        <section>
            <form method="post">
                <h4>Add a new record to the store.</h4>
                <hr />
                <div class="form-group">
                    <label asp-for="DiscogsUrl"></label>
                    <input asp-for="DiscogsUrl" class="form-control" placeholder="ex. https://www.discogs.com/release/950220" />
                    <span asp-validation-for="DiscogsUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Import</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
